.background{
    background-color: #0E0505;
    display: flex;
}
.menu-wrapper{
    display: inline-block;
    width: 235px;
    height: 1070px;
    background-color: #1E1717;
}
.parameter{
    
    margin-left: 25px;
}
.peacock-wrapper{
    margin-left: 49px;
    display: block;
    padding-top: 25px ;
}
.peacock1{
    font-size: 20px;
    margin-left:18px ;
    color:white;
}
.menu-parametrs{
    display: block;
    margin-top: 29px;
    margin-bottom: 24px;
}
.peacock2{
    font-size: 18px;
    margin-left:24px ;
    color:white;
    padding-top: 29px;
}
.peacock{
    margin-left:18px ;
    color:white;
}
.home-wrapper{
    display: block;
    margin-bottom: 31px;
}
.home{
    margin-left: 18px;
    color: #EB1C24;
}
.red{
    
    position: absolute;
    top: 132px;
    left: 237px;
}
.community{
    display: block;
    margin-bottom: 31px;
}
.discover{
    display: block;
    margin-bottom: 31px;
}
.awards{
    display: block;
    margin-bottom: 31px;
}
.celebs{
    display: block;
    margin-bottom: 31px;
}
.library{
    padding-left: 4gpx;
    display: block;
    margin-bottom: 24px;
}
.recent{
    padding-left: 22px;
    display: block;
    margin-bottom: 31px;
}
.rated{
    padding-left: 22px;
    display: block;
    margin-bottom: 29px;
}
.downloaded{
    padding-left: 22px;
}
.category{
    padding-left: 2px;
    display: block;
    margin-top: 42px;
    margin-bottom: 25px;
}
.tv-show{
    display: block;
    margin-bottom: 31px;
    padding-left: 21px;
}
.movie{
    display: inline-block;
    margin-bottom: 34px;
    padding-left: 21px;
}
.anime{
    padding-left: 21px;
}
.general{
    padding-left: 2px;
    display: block;
    margin-top: 42px;
    margin-bottom: 26px;
}
.settings{
    display: block;
    margin-bottom: 30px;
    padding-left: 21px;
}
.log-out{
    padding-left: 21px;
}
.center-wrapper{
    display: inline-block;
    height: 1070px;
    width: 859px;
}
.category{
    margin-left: 42px;
    display: flex;
    justify-content: space-between;
    width: 232px;
    height: 23px;
}
.moon{
    width: 777px;
    height: 318px;
    margin-left: 42px;
}
.category-parametrs{
    color: #DCDCDC;
}
.position-wrapper{
    position: relative;
}
.position{
    width: 267px;
    height: 156px;
    position: absolute;
    color: white;
    top:50px;
    left: 89px;
}
.position-button{
    color: white;
    width: 150px;
    height: 41px;
    border-radius: 10px;
    background-color: red;
}
.moon-pluses{
    position: absolute;
    left: 160px;
    border-radius: 10px;
}
.position-parameter2{
    font-size: 40px;
    
}
.now-playing-wrapper{
    margin-top: 35px;
    margin-left: 42px;
    align-items: center;
    display: flex;
    width: 777px;
    height: 30px;
}
.now-playing{
    font-size: 20px;
    color: white;
}
.pointer{
    
    margin-left: 588px;
}
.pointer2{
    margin-left: 20px;
}
.movies-wrapper{
    margin-top: 27px;
    margin-left: 42px;
    width: 778px;
    height: 167px;
    display: flex;
    justify-content: space-between;
}
.position2{
    width: 41px;
    height: 150px;
    position: absolute;
    top: 218px;
    left: 18px;
}
.position3{
    position: absolute;
    bottom:310px;
    left: 110px;
}
.now-playing-wrapper1{
    margin-top: 147px;
    margin-left: 42px;
    align-items: center;
    display: flex;
    width: 777px;
    height: 30px;
}
.now-playing1{
    font-size: 20px;
    color: white;
}
.pointer1{
    
    margin-left: 545px;
}
.pointer3{
    margin-left: 20px;
}
.top-rated-movies{
    margin-top: 27px;
    margin-left: 42px;
    width: 778px;
    height: 167px;
    display: flex;
    justify-content: space-between;
}
.position4{
    font-size: 20px;
    width: 267px;
    height: 156px;
    position: absolute;
    color: white;
    top:130px;
    left: 62px;
}
.grade{
    width: 348;
    height: 1070px;
    background-color: #1E1717;
}
.search-form{
    margin-left: 80px;
    margin-top: 22px;
    margin-left:;
    border: 1px solid ;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
}
.search{
    z-index: 2;
    border-radius:20px ;
    border: none;
    width: 240px;
    height: 48px;
    outline: none;
    font-size: 16px;
    
    
}
.search-icons{
    background-color: white;
    border-radius: 20px;
    left: 1124px;
    z-index: 1;
    position: absolute;
    width: 90px;
    height: 48px;
    border: none;
    
}
.popular-movies{    
    display: flex;
    justify-content: space-between;
    
    color: white;
    width: 285px;
    height: 48px;
}
.popular-movies-wrapper{
    margin-left: 25px;
    margin-top: 30px;
    height: 330px;
    width: 290px;

}

.popular-movies-txt{
    display: flex;
    color: white;
}
.txt-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 226px;
    height: 50px;
}
.txt1{

    padding-left: 15px;
}
.txt2{
    margin-left: 63px;
    color: #8C8C8C;
}
.txt3{
    margin-left: 15px;
    margin-top: 6px;
    
}
.star{
    margin-left: 18px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 168px;
}
.popular-movies-txt2{
    display: flex;
    color: white;
    margin-top: 25px;
}
.see-more{
    
    width: 281px;
    height: 55px;
    border-radius: 4px;
    margin-top: 23px;
}
.popular-movies-wrapper2{
    margin-left: 25px;
    margin-top: 31px;
    height: 540px;
    width: 290px;

}
.txt4{
    margin-left: 80px;
    color: #8C8C8C;
}
.txt5{
    margin-left: 117px;
    color: #8C8C8C;
}
.txt6{
    margin-left: 100px;
    color: #8C8C8C;
}